*, *::after,*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --background-color: #1b1b32;
    --searchDiv-color: #f0f1f7;
    --inforDisplayBackground-color: #7f21ab;
    --fire-color: #ff6f52;
    --water-color: #42a1ff;
    --rock-color: #baaa66;
    --electric-color: #fecc33;
    --dragon-color: #9e93f1;
    --grass-color: #78cc55;
    --poison-color: #c68bb7;
    --ice-color: #66ccfe;
    --fairy-color: #ed99ed;
    --ground-color: #dfba52;
    --flying-color: #8899ff;
    --bug-color: #aabb23;
    --dark-color: #b59682;
    --psychic-color: #ff66a3;
    --steel-color: #abaabb;
    --ghost-color: #9995d0;
}

.fire{
    background-color: var(--fire-color);
}
.water{
    background-color: var(--water-color);
}
.rock{
    background-color: var(--rock-color);
}
.electric{
    background-color: var(--electric-color);
}
.dragon{
    background-color: var(--dragon-color);
}
.grass{
    background-color: var(--grass-color);
}
.poison{
    background-color: var(--poison-color);
}
.ice{
    background-color: var(--ice-color);
}
.fairy{
    background-color: var(--fairy-color);
}
.ground{
    background-color: var(--ground-color);
}
.flying{
    background-color: var(--flying-color);
}
.bug{
    background-color: var(--bug-color);
}
.dark{
    background-color: var(--dark-color);
}
.psychic{
    background-color: var(--psychic-color);
}
.steel{
    background-color: var(--steel-color);
}
.ghost{
    background-color: var(--ghost-color);
}
#type{
    width: 70px;
    height: 30px;
    border-radius: 7px;
    margin: auto 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#types{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}


.name-and-id{
    display: flex;
    flex-direction: row;
    margin: 10px 20px 0 20px;
}

#creature-id{
    margin: 5px;
    font-size: large;
}

.weight-and-height{
    display: flex;
    flex-direction: row;
    margin: auto 20px 5px 20px;
}

#weight{
    margin-right: 5px; 
}
#special{
    margin: 40px auto auto 20px;
}

body{
    background-color: var(--background-color);
}


.fcc-logo {
  width: 210px;
  display: block;
  margin: 20px auto 5px auto;
}

h1{
    display:grid;
    justify-content: center;
    margin: 10px auto;
    color:var(--searchDiv-color);
}

.creatures-container{
    width: 35%;
    height: 750px;
    margin: 10px auto;
    background-color: var(--searchDiv-color);
    border-radius: 15px;
}

.search-area{
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
    font-size: 20px;
    padding-top: 15px;
}

#search-input{
    width: 100%;
    height: 80%;
    padding: 10px;
    margin: 5px auto;
}

#search-button{
    width: 100px;
    height: 30px;
    background-color: var(--inforDisplayBackground-color);
    border-radius: 15px;
    color: var(--searchDiv-color);
    border: 0px transparent;
}

#creatures-information{
    width: 100%;
    height: 30%;
}

#base-and-stats{
    margin: auto 20px;
    color: var(--searchDiv-color);
 
}

.inline{
    display:flex;
    flex-direction: row;
}

.base{
    width: 65%;
    height: 45px;
    margin-bottom: 10px;
    margin-right: 5px;
    background-color: var(--inforDisplayBackground-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.stats{
    width: 35%;
    height: 45px;
    margin-bottom: 10px;
    background-color: var(--inforDisplayBackground-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
