:root{
    --background-color: #0a0a23;
    --character-color: #dfdfe2;
    --cashRegisterDecoration-color: #000000;
    --cashRegister-color: #99c9ff;
    --gold-color: #ffb137;
    --border-color: #aa7321;
}

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 

}

body{
    background-color: var(--background-color);
}

h1{
    color: var(--character-color);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img{
    width: 300px;
    height: 70px;
}

#input-section{
    display: grid;
    color: var(--character-color);
}

label{
    margin: 10px auto;
    font-size: 20px;
}

input{
    width: 250px;
    height: 30px;
    border-radius: 10px;
}

#purchase-btn{
    margin: 15px auto;
    width: 150px;
    height: 30px;
    display: block;
    cursor: pointer;
    background-image: linear-gradient(var(--border-color), var(--gold-color));
    font-size: 20px;
    border-color: var(--border-color);
    background-color: var(--gold-color);
    border-width: 3px;
}

.total-cash{
    background-color: var(--cashRegisterDecoration-color);
    margin-right: 100px;
    margin-top: 20px;
    margin-bottom: 0px;
    width : 170px;
    height: 50px;
    font-size: 20px;;
    color: var(--character-color);
    border: 10px solid var(--cashRegister-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.connection{
    width: 40px;
    height: 40px;
    background-color: var(--cashRegister-color);
    margin-right: 180px;
    margin-bottom: 0px;
}

.body-drawer{
    width: 300px;
    height: 250px;
    background-color: var(--cashRegister-color);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.change-in-drawer{
    position: relative;
    background-color: white;
    width: 170px;
    height: 220px;
    left: 115px;
    bottom: 70px;
}

.change-in-drawer p{
    font-size: 18px;
    margin-left: 5px;

}

h3{
    margin-left: 5px;
}

.number-register{

    width: 70px;
    height: 70px;
    background: repeating-linear-gradient(
      90deg,
      var(--cashRegister-color),
      var(--cashRegister-color) 10%,
      transparent 10%,
      transparent 30%
    ),
    repeating-linear-gradient(
      var(--cashRegister-color),
      var(--cashRegister-color) 10%,
      var(--cashRegisterDecoration-color) 10%,
      var(--cashRegisterDecoration-color) 30%
    );
    margin-left: 20px;
    margin-top: 20px;
}

.footer{
    width: 300px;
    height: 50px;
    margin: 10px auto 40px auto;
    background-color: var(--cashRegister-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.decoration-footer{
    width: 20px;
    height: 20px;
    background-color: #000000;
    border-radius: 90px;

}

#change-due{
    display: grid;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: var(--character-color);

}

.change-due{
    display: grid;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: var(--character-color);
    font-size: 60;
}