*{
    box-sizing: border-box;
}
body{
    background-color: white ;
    text-align: center;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Helvetica Neue', Arial, sans-serif;
}
.strech{
    margin: 10px 2px;
    background-color:rgb(236, 236, 236);
    height: auto ;
}
h1{
    font-size: 40px;
    padding-top: 50px;
}
.backg{
    background-color: white;
    margin: 20px;
    height: 650px;
}
img{
    width: 1000px;
    display:block;
    max-width: 100%;
}
h2{
    font-size: 19px;
    padding-top:20px;
    padding-bottom: 20px;
}
.bold{
    font-weight: 800;
}
.center{
    padding-inline-start: 400px;
    padding-inline-end: 400px;
}
ul{
    text-align: left;
    line-height: 1.7;
}
.pad{
    padding-bottom: 15px;
}
.qte{
    text-align: left;
    padding-inline-start: 380px;
    padding-inline-end: 380px;
    line-height: 1.7;
    padding-top: 10px;
}

