*, *::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --dark-blue: #1B1B32;
    --light-blue: #3b3b4f;
    --gold-yellow: #FFB63B;
    --light-red: #FFADAD;
    --dark-red: #850000;
    --white-light: #ffffff;
    --white-grey: #F5F6F7;
}

body{
    background-color: var(--dark-blue);
    color: var(--white-light);
    display: grid;
    justify-content: center;
    justify-items: center;
}

img{
    width: 300px;
    height: 100px;
}

h1{
    font-size: 37px;
    max-width: 350px;
    margin: 20px auto;
    color: var(--white-grey);
    text-align: center;
}

form {
    color: var(--white-grey);
    margin: auto 25px;
    padding: 15px auto;
    border: 3px solid var(--white-grey);
    text-align: center;
    width: 90%;
    max-width: 500px;
    background-color: var(--light-blue);
}

fieldset {
    border: 0 none;
    height: 100%;
    padding: 25px;
    margin: 10px 20px;
}

label {
    display: inline-block;
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-weight: bold;
}

input {
    display: block;
    font-size: 2.5rem;
    width: 100%;
    height: 60px;
    padding: 6px 12px;
    margin: 10px 0;
    line-height: 1.4;
    color: white;
    background-color: var(--dark-blue);
    border: 1px solid var(--white-grey);
}

button {
    cursor: pointer;
    margin-top: 15px;
    text-decoration: none;
    background-image: linear-gradient(#fecc4c, #ffac33);
    border: 3px solid #feac32;
    padding: 10px 16px;
    font-size: 23px;
    width: 100%;
}

.output {
    color: white;
    background-color: var(--light-blue);
    border: 3px solid var(--white-grey);
    font-size: 2.5rem;
    width: 90%;
    max-width: 500px;
    min-height: 55px;
    margin-top: 25px;
    padding: 15px;
    overflow-wrap: break-word;
    text-align: center;
}

.alert {
  font-size: 2rem;
  background-color: var(--light-red);
  border: 3px solid var(--dark-red);
  color: var(--dark-red);
  margin-top: 20px;
}

.hidden {
  display: none;
}