:root{
    --background-color: #3b3b4f;
    --resultDiv-color: #DFDFE2;
    --telephone-color: #000000;
    --userInput-color: #ffffff;
}

*, *::after, *::before{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background-color);
}

h1{
    color: var(--userInput-color);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img{
    width: 300px;
    height: 70px;
    color: var(--userInput-color);
}

.phone-container{
    background-color:var(--resultDiv-color);
    position: relative;
    margin: 40px auto auto auto;
    width: 250px;
    height: 400px;
    border-radius: 15px;
    border: 15px solid var(--telephone-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.phone-background{
    background-color:var(--telephone-color) ;
    width: 100%;
    height: 20px;
}

.phone-camera{
    background-color: #ffffff;
    width: 10px;
    height: 10px;
    margin: auto;
    border-radius: 50%;
}

.btn-footer{
    background-color: var(--telephone-color);
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

label{
    background-color: var(--resultDiv-color);
    margin: 5px auto 5px auto;
}

#user-input{
    width: 90%;
    height: 30px;
    border-radius: 10px;
    border: 0.01px solid black;
}

#check-btn{
    margin: auto;
    width: 100px;
    height: 30px;
}
#clear-btn{
    margin: auto;
    width: 100px;
    height: 30px;
}

#results-div {
  overflow-y: auto;
 
  height: 265px;
  width: 100%;
}

.results-text {
  font-size: 1.2rem;
  padding: 5px;
  color: var(--telephone-color);
 
  margin: 5px 0;
}
