*{
    box-sizing: border-box;
}
html{
  min-width: 290px;
}
header {
      position: fixed;
      width: 100%;
      height: 10%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      top: 0;
    
    }
img{
    width: 25vw;
}
nav {
      width: 50%;
      max-width: 300px;
      height: 50px;
      
    }
    
    nav > ul {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      align-items: center;
      padding-inline-start: 0;
      margin-block: 0;
      height: 100%;
      width: 100%;
    }
    
    nav > ul > li {
      color: #000;
      margin: 0 0.2rem;
      padding: 0.2rem;
      display: block;
    }

    li > a {
      color: inherit;
      text-decoration: none;
      margin: 10px;
    }
h1{
    text-align: center;
}
h2{
  margin-bottom: 5px;
}
p{
  margin-top: 5px;
}
#hero{
  margin-top: 50px;
}
form{
    display: grid;
    width: 100%;
    text-align: center;
}
input{
  width: 25%; 
  height: 25px;
  margin-top: 0;
  margin-bottom: 10px;
}

button{
  width: 150px;
  height: 30px;
  border: 0px;
  font-weight: bold;
  font-size: 17px;
  background-color: yellow;
  transition: background-color 1s ease;
}
button:hover{
  background-color: orange;
  cursor: pointer;
}
.social-icons{
  display: flex;
  line-height: 1;
}
i{
  color: orange;
}
.icons{
  min-width: 100px;
  min-height: 100px;
  margin-top: 25px;
}
#features{
  margin-left: 20%;
}
#how-it-works{
  margin-top: 15px;
  text-align: center;
}
#price{
  display: flex;
  justify-content:center;
  text-align: center;
  margin-top: 50px;
}
.tenor{
  border: 1px solid black;
  margin: 10px;
  width: 320px;
  height: 300px;
}
.bass{
  border: 1px solid black;
  margin: 10px;
  width: 320px;
  height: 300px;
}

.valve{
  border: 1px solid black;
  margin: 10px;
  width: 320px;
  height: 300px;
}
#price div{
  margin: 10px;  
}
footer{
  background-color: grey;
}
footer > ul{
  display: flex;
  justify-content: flex-end;

}
footer > ul >li{
  list-style: none;
}
footer > p{
  text-align: right;
} 
.btn{
  border: 0;
  background-color: yellow;
  transition: background-color 1s ease;
}
.btn:hover{
   background-color: orange;
  cursor: pointer;
}
@media only screen and (max-width){
  img{
    width: 25vw;
  }
}