*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --yellow: #f1be32;
    --golden-yellow: #feac32;
    --dark-purple: #110815;
    --light-grey: #efefef;
}

body{
    background-color: var(--dark-purple);
    color: var(--light-grey);
    text-align: center;
}

.bg-information-container{
    margin: 15px 0 25px;
    font-size: 1.2rem;
}

.btn{
    cursor: pointer;
    margin-top: 10px;
    padding: 10px;
    color: var(--dark-purple);
    background-color: var(--golden-yellow);
    background-image: linear-gradient(#fecc4c, #ffac33);
    border-width: 3px;
    border-color: var(--golden-yellow);
}

.btn:hover{
    background-image: linear-gradient(#ffcc4c, #f89808);
}